* {
    margin: 0;
    padding: 0;
}

.div-margin {
    display: flex;
    justify-content: center;
}

.div-product {
    margin-top: 10px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    flex-wrap: wrap;
    gap: 10px;
}

.div-product1 {
    background-color: rgb(177, 11, 11);
    border: 1px solid;
    border-radius: 4px;
    width: 200px;
}

.div-product img {
    width: 100px;
    padding-left: 8px;
    padding: 8px;
}

.div-product p {
    padding: 8px;
    color: white;
}

.button-like {
    margin-left: 8px;
    cursor: pointer;
}

.button-desc {
    margin-left: 8px;
    cursor: pointer;
}