* {
  margin: 0;
  padding: 0;
}

header h2 {
  font-family: 'Curlz MT';
  letter-spacing: 3px;
  margin-left: 16px;
}

.div-form {
  display: flex;
  justify-content: center;
  margin-top: 128px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid;
  border-radius: 8px;
}

.h2-form {
  font-family: 'Curlz MT';
  letter-spacing: 4px;
  text-align: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-login input[type = text] {
  height: 32px;
  border: 0;
  border-bottom: 1px solid;
}

.div-tombol {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.div-tombol button {
  width: 64px;
  height: 32px;
  border: 1px solid blue;
  background-color: blue;
  border-radius: 10px;
  color: white;
  margin-top: 16px;
  cursor: pointer;
}

.div-tombol button:hover {
  background-color: black;
  border-color: black;
  transition: 0.5s ease-in-out;
}